<div
  style="max-width: 600px; margin: auto; border: 1px solid #ccc; padding: 20px; background-color: #fff; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); font-family: Arial, sans-serif;">
    <div style='text-align: center; margin-bottom: 20px;'>
      <h1 style='margin: 0;'>Manga Store</h1>
    </div>
  <h1 style="font-size: 24px; color: #333; text-align: center;">Phản hồi khách hàng</h1>
  
  <p style="font-size: 16px; color: #555;">
    <strong>Email:</strong> {{email}}
  </p>

  <p style="font-size: 16px; color: #555;">
    <strong>Phone Number:</strong> {{phone_number}}
  </p>

  <p style="font-size: 16px; color: #555;">
    <strong>Name:</strong> {{name}}
  </p>

  <p style="font-size: 16px; color: #555;">
    <strong>Message:</strong>
  </p>
  
  <div style="margin-top: 20px; padding: 10px; background-color: #f9f9f9; border: 1px solid #eee;">
    <span>{{message}}</span>
  </div>
</div>
